<h1>Welcome Angular</h1>
<button (click)="getName()"> Get My Name </button>

<button (click)="myEvent('click event')">Click Me</button>

<input type="text" #abcd (keyup)="myEvent(abcd.value)" />
<br>
<input type="text" (blur)="myEvent( 'Blur Event' )" />

<!-- 
<h1>Get Angular Value</h1>
<input type="text" (keyup)="getVal($event.target.value)" />

<h2>{{currentVal}}</h2> -->


<h1>Get Angular Value method 2</h1>

<input type="text" #box />
<button (click)="getVal(box.value)">Get Text</button>

<h2>{{currentVal}}</h2>


<h1>Condition in Angular</h1>

<!-- <div *ngIf="show=='yes'; then ifBlock else elseBlock"></div>

<ng-template #ifBlock>
    <h1> Else If Block </h1>
</ng-template>

<ng-template #elseBlock>
    <h1> Else Block </h1>
</ng-template> -->

<ng-template [ngIf]="show == 'red'">
    <h1>Red Block</h1>
</ng-template>

<ng-template [ngIf]=" show== 'green'">
    <h1>Green Block</h1>
</ng-template>

<ng-template [ngIf]="show== 'blue'">
    <h1>Blue Block</h1>
</ng-template>


<!-- <router-outlet></router-outlet> -->